html, body {
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

header {
	padding-top: 20px;
}

a {
	color: #FFFFFF;
}

a:hover, a:focus {
	color: #508CFF;
}

p {
	font-size: 1.2em;
}

.navbar {
	margin-bottom: 0;
}

.navbar, .navbar-brand {
	font-size: 2em;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background: none;
}

.nav-logo {
	padding-top: 0;
}

.logo {
	width: auto;
	height: 50px;
}

.navbar-brand > .logo {
	display: inline;
}

.dotted-text {
	letter-spacing: 5px;
	font-family: 'Codystar', cursive;
	font-weight: 400;
}

.typewriter-text {
	font-family: 'Slabo 27px', serif;
}

.battlestation-bg {
	background: url(../images/skylarity-battlestation.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content-pad {
	padding-top: 7vh;
}